.btn-primary {
    color: #000000;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
        color: #000000;
        background-color: $yellow-2;
        border-color: $yellow-2;
    }

    &:focus {
        color: #000000;
        background-color: $yellow-2;
        border-color: $yellow-2;
        box-shadow: 0 0 0 0.2rem rgba($yellow-2, 0.5);
    }
}