
.card {
    border: 0; 
    box-shadow: 0px 2px 25px 5px rgba(0,0,0, 0.1);
    background: linear-gradient(209.46deg, #161616 -13.14%, #2B2D35 122.82%);
    border-bottom: 5px solid $primary-color;
}