<div class="container-fluid py-3 position-sticky  d-none d-md-block"
  style="top: 0; z-index: 1050;box-shadow: 5px 10px 50px 15px rgba(0,0,0,0.1);background: rgba(0,0,0,0.5); background: linear-gradient(50.88deg,#333646 4.14%,rgba(34, 34, 34, 1) 98.43%);">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="row align-items-center">
        <div class="col-auto">
          <a class="text__header-link"  routerLink="/" routerLinkActive="" [routerLinkActiveOptions]="{ exact: true }">
            <i appSvg [svgName]="'logo'"></i>
          </a>
        </div>
        <div class="col">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link text__header-link position-relative"
                  routerLink="/" fragment="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text__header-link position-relative"
                  routerLink="/" fragment="services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text__header-link position-relative" 
                 routerLink="/" fragment="skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text__header-link position-relative" 
                 routerLink="/" fragment="works">Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text__header-link position-relative" 
                 routerLink="/" fragment="contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-3 fixed-bottom   d-block d-md-none"
  style="z-index: 1050;box-shadow: 5px 10px 50px 15px rgba(0,0,0,0.1);background: rgba(0,0,0,0.5); background: linear-gradient(50.88deg,#333646 4.14%,rgba(34, 34, 34, 1) 98.43%);">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="row align-items-center">
        <div class="col-1">
          <a class="text__header-link"  routerLink="/"  fragment="about" routerLinkActive="" [routerLinkActiveOptions]="{ exact: true }">
            <i appSvg [svgClass]="'icon__tech'" [svgName]="'logo'"></i>
          </a>
        </div>
        <div class="col">
          <ul class="nav justify-content-end">
            <li class="nav-item flex-grow-1">
              <a class="nav-link text__header-link position-relative"
                  routerLink="/" fragment="services">Services</a>
            </li>
            <li class="nav-item flex-grow-1">
              <a class="nav-link text__header-link position-relative" 
                 routerLink="/" fragment="skills">Skills</a>
            </li>
            <li class="nav-item flex-grow-1">
              <a class="nav-link text__header-link position-relative" 
                 routerLink="/" fragment="works">Works</a>
            </li>
            <li class="nav-item flex-grow-1">
              <a class="nav-link text__header-link position-relative" 
                 routerLink="/" fragment="contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="about" class="c-section c-section__featured d-flex align-items-center py-5"
  style="min-height: 85vh;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row justify-content-center">
          <div class="col-lg-7 mb-5">
            <h1 class="text__lead mb-1">Ndimphiwe</h1>
            <h2 class="text__sublead mb-1">Mayekiso</h2>
            <app-links [links]="links"></app-links>
          </div>
          <div class="col-lg-5">
            <h6 class="text--primary font-weight-bold mb-5">About me</h6>
            <app-bio [bio]="bio"></app-bio>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services" class="c-section c-section__featured d-flex align-items-center py-5"
  style="min-height: 85vh;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h5 class="text--primary font-weight-bold mb-5">Services</h5>
        <h1 class="mb-5">What do I do?</h1>
      </div>
      <div class="col-lg-10">
          <app-services [services]="services"></app-services>
      </div>
    </div>
  </div>
</section>
<section id="skills" class="c-section c-section__featured d-flex align-items-center py-5"
style="min-height: 85vh;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h5 class="text--primary font-weight-bold mb-5">Skills</h5>
        <h1 class="mb-5">How do I do it?</h1>
      </div>
      <div class="col-lg-10">
          <app-skills [skills]="skills"></app-skills>
      </div>
    </div>
  </div>
</section>
<section id="works" class="c-section c-section__featured d-flex align-items-center py-5"
style="min-height: 85vh;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h5 class="text--primary font-weight-bold mb-5">Works</h5>
        <h1 class="mb-5">What have I done?</h1>
      </div>
      <div class="col-lg-10">
          <app-projects [projects]="projects"></app-projects>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="c-section c-section__featured d-flex align-items-center py-5"
style="min-height: 85vh;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h5 class="text--primary font-weight-bold mb-5">Contact me</h5>
        <h1 class="mb-5">Get in touch.</h1>
      </div>
      <div class="col-md-10 col-lg-6">
          <app-contact-info [contactInfo]="contactInfo"></app-contact-info>
      </div>
    </div>
  </div>
</section>
