<div class="row">
    <div class="col-md-6">
      <a [href]="contact?.link" class="text-reset" *ngFor="let contact of contactInfo">
        <div class="row mb-3">
          <div class="col-auto">
            <i appSvg [svgName]="contact?.icon" [svgClass]="'icon__tech'"></i>
          </div>
          <div class="col">
            {{contact?.info}}
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <form name="contact" method="POST" netlify   data-netlify-recaptcha="true">
            <div class="row">
              <div class="col-12 mb-3">
                <input type="text" class="form-control" name="name" placeholder="Name">
              </div>
              <div class="col-12 mb-3">
                <input type="email" class="form-control" name="email" placeholder="Email Address">
              </div>
              <div class="col-12 mb-3">
                <input type="text" class="form-control" name="subject" placeholder="Subject">
              </div>
              <div class="col-12 mb-3">
                <textarea class="form-control"  name="message" id="exampleFormControlTextarea1" rows="5" placeholder="How can I help you?"></textarea>
              </div>
              <div class="col-12">  
                <button class="btn btn-primary btn-lg mb-2" type="submit">Let's talk</button>
              </div>
            </div>
          </form>
    </div>
</div>