<div class="row">
    <div class="col-md-6">
        <p>+27711234567</p>
        <p>test@test.com</p>
        <p>ndimphiwe_m</p>
    </div>
    <div class="col-md-6">
        <form>
            <div class="row">
              <div class="col-12 mb-3">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="col-12 mb-3">
                <input type="email" class="form-control" placeholder="Email Address">
              </div>
              <div class="col-12 mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="How can I help you?"></textarea>
              </div>
              <div class="col-12">  
                <button type="button" class="btn btn-primary mb-2">Let's talk</button>
              </div>
            </div>
          </form>
    </div>
</div>