html {
  scroll-behavior: smooth;
}

body, html {
    min-height: 100%;
    color: #fff;
    background: linear-gradient(134.88deg, #333646 4.14%, #222222 98.43%);
    font-family: $montserrat-font-family;
}

textarea { resize: none; }