html {
  scroll-behavior: smooth;
}

body, html {
    min-height: 100%;
    color: #fff;
    background: linear-gradient(134.88deg, #333646 4.14%, #222222 98.43%);
    font-family: $montserrat-font-family;
}

body {
  background-image: url(assets/images/body-bg.png);
  background-attachment: fixed;
  background-size:  cover;
}

section {
  background-attachment: fixed;
}

textarea { resize: none; }