<div class="row justify-content-center align-items-center mb-5 py-5"  *ngFor="let project of projects; let odd = odd; let even = even;">
  <div class="col-md-6 col-lg-6 mb-3" [ngClass]="{'order-md-last': odd}">
    <img [src]="project?.image" class="w-100 project-image p-2" [alt]="project?.title"/>
  </div>
    <div class="col-md-6 col-lg-4 mb-3 ">
      <div class="p-2">
        <div class="">
          <h1 class="h1-responsive text--primary mb-3">{{ project?.title }}</h1>
          <p class="card-text">
            {{ project?.description }}
          </p>
          
          <h6 class="card-title text--primary">Built with:</h6>
          <ul class="list-unstyled row align-items-center">
            <li class="col-6 mb-3" *ngFor="let tech of project?.techStack">
              <div class="row align-items-center">
                <div class="col-auto pr-0">
                  <i appSvg [svgName]="tech?.icon" [svgClass]="'icon__tech'"></i>
                </div>
                <div class="col">
                  {{ tech?.skill }}
                </div>
              </div>
            </li>
          </ul>
          <a *ngIf="project?.link" [href]="project?.link" target="_blank" class="btn btn-primary">Check out the site</a>
        </div>
      </div>
    </div>
  </div>
  