<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mb-3 " *ngFor="let project of projects">
      <div class="card p-2 h-100">
        <img [src]="project?.image" class="card-img-top project-image p-2" [alt]="project?.title"
          style="filter: grayscale(1) blur(0.5px);"/>
        <div class="card-body">
          <h5 class="card-title text--primary">{{ project?.title }}</h5>
          <p class="card-text">
            {{ project?.description }}
          </p>
          
          <h6 class="card-title text--primary">Built with:</h6>
          <ul class="list-unstyled row align-items-center">
            <li class="col-6 mb-3" *ngFor="let tech of project?.techStack">
              <div class="row align-items-center">
                <div class="col-auto pr-0">
                  <i appSvg [svgName]="tech?.icon" [svgClass]="'icon__tech'"></i>
                </div>
                <div class="col">
                  {{ tech?.skill }}
                </div>
              </div>
            </li>
          </ul>
          <a *ngIf="project?.link" [href]="project?.link" target="_blank" class="btn btn-primary">Check out the site</a>
        </div>
      </div>
    </div>
  </div>
  